/* global styles */

@font-face {
  font-family: "NotoSans";
  src: url("/fonts/NotoSans.ttf");
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --white: #fff;
  --black: #070d18;
  --blue: #4f4fed;
  --dark-blue: #3b4252;
  --light-blue: #eceff4;

  color: var(--black);
  background-color: var(--white);
  font-family: "NotoSans";
  overflow-x: hidden;
  overflow-y: auto;
}

input, button, select {
  border: none;
  outline: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

button {
  border-radius: .25em;
  padding: .25em 1.25em;
}

/* font sizes */

@media screen and (min-width: 480px) {
  html { font-size: 1.1rem }
}

@media screen and (min-width: 768px) {
  html { font-size: 1.2rem }
}

@media screen and (min-width: 1024px) {
  html { font-size: 1.3rem }
}

@media screen and (min-width: 1200px) {
  html { font-size: 1.4rem }
}

/* navbar styles */

nav {
  width: 100%;
  height: 2.5rem;
  padding: 0 1rem;
  position: sticky;
  top: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
}

nav.active {
  box-shadow: 0 .025rem .025rem rgba(0, 0, 0, .25);
}

nav a {
  transition: color .3s ease-out;
}

nav .logo {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: .025em;
  color: var(--blue);
}

nav .logo:hover {
  color: var(--dark-blue);
}

nav ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -10rem; left: 0;
  transition: top .3s ease-out;
  background-color: var(--white);
}

nav ul.open {
  top: 2.5rem;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  font-size: .6rem;
  padding: .25rem;
  font-weight: bold;
  color: var(--dark-blue);
}

nav ul li a.active {
  color: var(--blue);
}

#burger {
  width: 1rem;
  cursor: pointer;
}

#burger div {
  width: 100%;
  height: .125rem;
  margin: .1rem 0;
  background-color: var(--black);
  transition: .3s;
}

#burger div:nth-child(1) {
  width: 60%;
  margin-left: auto;
}

#burger div:nth-child(2) {
  width: 80%;
  margin-left: auto;
}

#burger.open div:nth-child(1) {
  width: 100%;
  transform: rotate(45deg) translate(.25rem, .125rem);
}

#burger.open div:nth-child(2) {
  opacity: 0;
}

#burger.open div:nth-child(3) {
  transform: rotate(-45deg) translate(.25rem, -.125rem);
}

@media screen and (min-width: 520px) {
  nav ul {
    width: fit-content;
    position: relative;
    top: 0;
    background: none;
  }

  #burger {
    display: none;
  }
}
