/* global styles */

@font-face {
  font-family: "NotoSans";
  src: url("/fonts/NotoSans.ttf");
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  --white: #fff;
  --black: #070d18;
  --blue: #4f4fed;
  --dark-blue: #3b4252;
  --light-blue: #eceff4;

  color: var(--black);
  background-color: var(--white);
  font-family: "NotoSans";
  overflow-x: hidden;
  overflow-y: auto;
}

input, button, select {
  border: none;
  outline: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

button {
  border-radius: .25em;
  padding: .25em 1.25em;
}

section {
  width: 100%;
  min-height: calc(100vh - 2.5rem);
  padding: 1rem;
}

/* font sizes */

@media screen and (min-width: 480px) {
  html { font-size: 1.1rem }
}

@media screen and (min-width: 768px) {
  html { font-size: 1.2rem }
}

@media screen and (min-width: 1024px) {
  html { font-size: 1.3rem }
}

@media screen and (min-width: 1200px) {
  html { font-size: 1.4rem }
}

/* navbar styles */

nav {
  width: 100%;
  height: 2.5rem;
  padding: 0 1rem;
  position: sticky;
  top: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
}

nav.active {
  box-shadow: 0 .025rem .025rem rgba(0, 0, 0, .25);
}

nav a {
  transition: color .3s ease-out;
}

nav .logo {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: .025em;
  color: var(--blue);
}

nav .logo:hover {
  color: var(--dark-blue);
}

nav ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -10rem; left: 0;
  transition: top .3s ease-out;
  background-color: var(--white);
}

nav ul.open {
  top: 2.5rem;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  font-size: .6rem;
  padding: .25rem;
  font-weight: bold;
  color: var(--dark-blue);
}

nav ul li a.active {
  color: var(--blue);
}

#burger {
  width: 1rem;
  cursor: pointer;
}

#burger div {
  width: 100%;
  height: .125rem;
  margin: .1rem 0;
  background-color: var(--black);
  transition: .3s;
}

#burger div:nth-child(1) {
  width: 60%;
  margin-left: auto;
}

#burger div:nth-child(2) {
  width: 80%;
  margin-left: auto;
}

#burger.open div:nth-child(1) {
  width: 100%;
  transform: rotate(45deg) translate(.25rem, .125rem);
}

#burger.open div:nth-child(2) {
  opacity: 0;
}

#burger.open div:nth-child(3) {
  transform: rotate(-45deg) translate(.25rem, -.125rem);
}

@media screen and (min-width: 520px) {
  nav ul {
    width: fit-content;
    position: relative;
    top: 0;
    background: none;
  }

  #burger {
    display: none;
  }
}

/* Home section */

#home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#home h1 {
  font-size: 3rem;
  text-align: center;
  margin: 2rem 0;
}

#home p {
  font-size: 1rem;
  color: var(--dark-blue);
}

#home svg {
  width: 4.5rem;
  padding: 1rem;
  margin-top: 8rem;
  fill: var(--black);
  position: relative;
  animation: arrow-anim 2s ease-out infinite;
}

@keyframes arrow-anim {
  0% {
    opacity: 1;
    top: 0;
  }

  60% {
    opacity: .25;
    top: 1rem;
  }
}

/* about section */

#about {
  padding-top: 2.5rem;
}

#about h1 {
  font-size: 3rem;
  margin: 2rem 0;
  text-transform: uppercase;
}

#about p {
  font-size: 1rem;
  color: var(--dark-blue);
  margin: .5rem 0;
}

#about .technologies {
  display: flex;
  align-items: center;
  justify-content: center;
}

#about .technologies ul {
  width: 100%;
}

#about .technologies li {
  list-style: none;
  font-size: .85rem;
  color: var(--dark-blue);
}

#about .technologies li::before {
  content: "-";
  color: var(--black);
  font-weight: bold;
  padding: .25rem;
}

#about img {
  width: 100%;
  margin: 1rem 0;
  border-radius: .5rem;
  aspect-ratio: 1/ 1;
  object-fit: cover;
}


@media screen and (min-width: 768px) {
  #about {
    max-width: 1200px;
    margin: 0 auto;
  }

  #about .content {
    display: flex;
    align-items: flex-start;
  }

  #about .content > div {
    width: 100%;
  }

  #about .content img {
    width: 30%;
    margin: 0;
    margin-left: 2rem;
    transform: translateY(-2rem);
  }
}

/* projects section */

#projects {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 2.5rem;
}

#projects h1 {
  margin: 1rem 0;
}

#projects .cards {
  display: grid;
  gap: .75rem;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 520px) {
  #projects .cards { grid-template-columns: 1fr 1fr } 
}

@media screen and (min-width: 968px) {
  #projects .cards { grid-template-columns: 1fr 1fr 1fr } 
}

#projects .card {
  padding: 1rem 1rem 2.5rem 1rem;
  position: relative;
  border-radius: .5rem;
  background-color: var(--light-blue);
  transition: all .3s ease-out;
}

#projects .card:hover {
  transform: translateY(-0.5rem);
}

#projects .card .icon {
  width: 1.5rem;
  margin-bottom: .25rem;
  fill: var(--blue);
}

#projects .card p {
  margin-top: 1rem;
  font-size: .75rem;
  color: var(--dark-blue);
}

#projects .card .technologies {
  width: 100%;
  position: absolute;
  bottom: 1rem;
}

#projects .card .technologies span {
  opacity: .75;
  font-size: .6rem;
  font-weight: bold;
  color: var(--dark-blue);
}

#projects .card .link {
  position: absolute;
  top: .5rem; right: 1rem;
}

#projects .card .link svg {
  width: 1.25rem;
  fill: var(--dark-blue);
  transition: fill .3s ease-out;
}

#projects .card .link svg:hover {
  fill: var(--blue);
}


/* contact section */

#contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

#contact h1 {
  font-size: 1rem;
}

#contact .email {
  font-size: 1.5rem;
  color: var(--dark-blue);
  margin: 3rem 0 10rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

#contact .email svg {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
}

#contact .links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 3rem; left: 0;
}

#contact .links a {
  padding: 1rem;
  border-radius: .5rem;
  transition: background .3s ease-out;
}

#contact .links a:hover {
  background-color: var(--light-blue);
}
